*.class
.mtj.tmp/
# Package Files #
*.war
*.ear
hs_err_pid*
.gradle
build
eclipse
crash-reports
.classpath
.project
.settings
config
logs
bin
eula.txt
saves
options.txt
server.properties
world
banned.ips.json
banned-players.json
op.son
servers.dat
usercache.json
whitelist.json
/ops.json
/banned-ips.json
packetlogger.cfg